services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: go-test
    volumes:
      - ./scripts/mysql.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"
    restart: unless-stopped

  backend:
    build: 
      context: .
      dockerfile: ./pkg/Dockerfile
    container_name: go-web-init-backend
    ports:
      - "8080:8080"
    environment:
      - DB_TYPE=mysql
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_NAME=go-test
      - DB_USER=root
      - DB_PASSWORD=password
    depends_on:
      - mysql
    restart: unless-stopped
  
  frontend:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: go-web-init-frontend
    ports:
      - "3000:3000"
    restart: unless-stopped
  
